<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>ورود</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>

        <ion-item>
          <ion-label floating>شماره همراه</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label floating>کد ملی</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-item>
          <button ion-button round full large (click)="login()">ورود</button>
        </ion-item>
      
      </ion-list>
</ion-content>
