<ion-header>
  <ion-navbar>
    <ion-title>خدمات</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let service of services">
    <ion-card-header>
      {{service.name}}
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <p>{{service.amount}} تومان</p>
        </ion-item>
        <ion-item>
          <ion-label floating>تعداد واحد</ion-label>
          <ion-input type="number" [(ngModel)]="unit"></ion-input>
        </ion-item>
        <ion-item>
          <button ion-button round (click)="next(service.objectId, service.amount, unit)">انتخاب خدمت</button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
