<ion-header>
  <ion-navbar>
    <ion-title>اسکن بارکد</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <button ion-button full round large (click)="scan()">اسکن بارکد</button>
  <button ion-button full round large (click)="go()">اسکن بارکد</button>
</ion-content>