<ion-header>
    <ion-navbar>
      <ion-title>خروج مشتری</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        موجودی کارت: {{card.amount}}
      </ion-card-header>
      <ion-card-content>
          <ion-list>
              <ion-item>
                <ion-label floating>نام و نام خانوادگی</ion-label>
                <ion-input type="text" [(ngModel)]="name"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating>شماره تلفن همراه</ion-label>
                  <ion-input type="tel" [(ngModel)]="phone"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating>کد ملی</ion-label>
                  <ion-input type="number" [(ngModel)]="code"></ion-input>
              </ion-item>
              <ion-item>
                <button ion-button full (click)="signup()">ثبت نام</button>
                <button ion-button full color="danger" (click)="deactive()">غیرفعال کردن کارت</button>
              </ion-item>
          </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>