<ion-header>
  <ion-navbar>
    <ion-title>مشتری جدید</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          موجودی کارت: {{card.amount}}
        </ion-card-header>
        <ion-card-content *ngIf="card.active">
          <p>مشتری قبلی این کارت تسویه نشده است</p>
          <button ion-button full (click)="emptyCard()">تسویه کارت</button>
        </ion-card-content>
        <ion-card-content *ngIf="!card.active">
          <p>کارت آماده شارژ می باشد</p>
          <ion-list>
              <ion-item>
                <ion-label floating>مبلغ شارژ</ion-label>
                <ion-input type="number" [(ngModel)]="amount"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>پرداخت نقدی</ion-label>
                <ion-toggle [(ngModel)]="isCash"></ion-toggle>
              </ion-item>
              <ion-item *ngIf="!isCash">
                <ion-label floating>کد ارجاع</ion-label>
                <ion-input type="number" [(ngModel)]="RefId"></ion-input>
              </ion-item>
              <ion-item>
                <button ion-button full (click)="charge()">شارژ کارت</button>
              </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
</ion-content>
