<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      صفحه اصلی
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button round full large (click)="gotoser()">استفاده از خدمات</button>
  <button ion-button round full large (click)="newCustomer()">مشتری جدید</button>
  <button ion-button round full large (click)="charge()">شارژ مجدد کارت</button>
  <button ion-button round full large (click)="exit()">خروج مشتری</button>
</ion-content>
