<ion-header>
  <ion-navbar>
    <ion-title>شارژ مجدد کارت</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <ion-list>
            <ion-item>
              <ion-label floating>مبلغ شارژ</ion-label>
              <ion-input type="number" [(ngModel)]="amount"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>پرداخت نقدی</ion-label>
              <ion-toggle [(ngModel)]="isCash"></ion-toggle>
            </ion-item>
            <ion-item *ngIf="!isCash">
              <ion-label floating>کد ارجاع</ion-label>
              <ion-input type="number" [(ngModel)]="RefId"></ion-input>
            </ion-item>
            <ion-item>
              <button ion-button full (click)="charge()">شارژ کارت</button>
            </ion-item>
        </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>